img {
    width: auto;
    height: 2150px;
    align-content: center;
}

h1 {
    color: red;
    font-size: 100px;
    z-index: 100;
    text-align: center;
    font-family: 'bowlby';
}

@font-face {
    font-family: 'bowlby';
    src: url(Bowlby_One_SC/BowlbyOneSC-Regular.ttf);
}

.grid {
    display: grid;
   grid-template-columns: 200px, 200px, 200px;
    /* font-size: 30px;
    text-align: center; */
}

h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    text-align: center;
    padding-top: 30px;
    z-index: 120;
    position: absolute;
    padding-left: 35%;
    margin-bottom: 400px;
}