

@font-face {
    font-family: 'Koho-Bold';
    src: url('koho/KoHo-Bold.woff2') format('woff2'),
        url('koho/KoHo-Bold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Koho-BoldItalic';
    src: url('koho/KoHo-BoldItalic.woff2') format('woff2'),
        url('koho/KoHo-BoldItalic.woff') format('woff');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Koho-Regular';
    src: url('koho/KoHo-Regular.woff2') format('woff2'),
        url('koho/KoHo-Regular.woff') format('woff');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'KoHo-ExtraLight';
    src: url('koho/KoHo-ExtraLight.woff2') format('woff2'),
        url('koho/KoHo-ExtraLight.woff') format('woff');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Koho-Italic';
    src: url('koho/KoHo-Italic.woff2') format('woff2'),
        url('koho/KoHo-Italic.woff') format('woff');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'KoHo-Medium';
    src: url('koho/KoHo-Medium.woff22') format('woff2'),
        url('koho/KoHo-Medium.woff') format('woff');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'KoHo-Light';
    src: url('koho/KoHo-Light.woff2') format('woff2'),
        url('koho/KoHo-Light.woff') format('woff');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'KoHo-SemiBold';
    src: url('koho/KoHo-SemiBold.woff2') format('woff2'),
        url('koho/KoHo-SemiBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

body{
    background-color: rgb(44, 44, 44);
    color: white;
}

h1 {
    font-size: 70px;
    font-family: 'KoHo-Bold';
    text-align: center; 
    width: 100%;
}

h2 {
    font-size: 60px;
    font-family: 'KoHo-Medium';
    text-align: center; 
}

.des {
    font-size: 30px;
    font-family: 'KoHo-Regular';
    text-align: center;
    padding: 50px;
}

.regular {
    font-size: 55px;
    font-family: 'KoHo-Regular';
    padding-left: 20px;
    text-align: center;
    color: rgb(255, 20, 20);
    display: grid;
    grid-template-rows: auto auto auto auto auto auto;
    gap: 10px;
    /* background-color: #575757; */
    padding: 8px;
    padding-right: 80px;
    padding-left: 80px;
}

.grid-item {
    background-color: rgba(80, 80, 80, 0.8);
    border: 1px solid rgba(240, 240, 240, 0.8);
    padding: 10px;
    /* font-size: 30px; */
    text-align: center;
   
  }

#title {
    color: rgb(255, 255, 255);
    text-align: center;
}

.bold {
    font-size: 45px;
    font-family: 'KoHo-Bold';
    padding-left: 20px;
    text-align: center; 
    color: rgb(26, 51, 190);
}

.boldi {
    font-size: 40px;
    font-family: 'KoHo-BoldItalic';
    padding-left: 20px;
    text-align: center; 
    color: rgb(33, 183, 221);
}

.sbold {
    font-size: 35px;
    font-family: 'KoHo-SemiBold';
    padding-left: 20px;
    text-align: center; 
    color: rgb(54, 225, 255);
}

.italic {
    font-size: 40px;
    font-family: 'KoHo-Italic';
    padding-left: 20px;
    text-align: center; 
    color: rgb(26, 190, 122);
}

.light {
    font-size: 46px;
    font-family: 'KoHo-Light';
    padding-left: 20px;
    text-align: center; 
    color: rgb(27, 219, 101);
}

.elight {
    font-size: 48px;
    font-family: 'KoHo-ExtraLight';
    padding-left: 20px;
    text-align: center; 
    color: rgb(30, 255, 41);
}

.medium {
    font-size: 50px;
    font-family: 'KoHo-Medium';
    padding-left: 20px;
    text-align: center; 
    color: rgb(236, 29, 209);
}

.obligue {
    font-size: 50px;
    font-family: 'KoHo-Medium';
    padding-left: 20px;
    text-align: center; 
    color: rgb(255, 129, 238);
    font-style: oblique;
}

.glyphs {
    font-size: 50px;
    font-family: 'KoHo-Bold';
    /* padding-left: 20px; */
    text-align: center;
    color: rgb(245, 27, 118);
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 10px;
    background-color: #52678c;
    padding: 7px;
    border: 1px solid rgba(0, 0, 0, 0.8);
   
}
/* .item1 {
    grid-column-start: 1;
}
.item2 {
    grid-column-start: 6;
    grid-column-end: 8;
} */

.item1, .item2, .item3, .item4, .item5, .item6, .item7, .item8, .item9, .item10, .item11, .item12, .item13, .item14, .item15, .item16 {
    background-color: rgb(95, 33, 54);
}

.item2, .item3, .item4, .item5, .item6, .item7, .item8, .item9, .item10, .item11, .item12, .item13, .item14, .item15, .item16 {
    width: 90%;
}

#down {
    position: absolute;
  /* bottom: 80px; */
  right: 0;
  width: 1430px;
  height: 100px;
  border: 3px solid #d8d519;
  font-family: "Koho-Bold";
  text-align: center;
  font-size: 60px;
}

a {
    color: white;
}

img {
    width: 1423px;
    align-content: center;
}


