@font-face {
    font-family: 'Kepler Std';
    src: url('KeplerStd-BoldScnDisp.woff2') format('woff2'),
        url('KeplerStd-BoldScnDisp.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

